<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laf.dao.mapper.laf.NoticeMapper">
    <!--    更新启示状态为（已帮助）-->
    <update id="updateNoticeDone">
        UPDATE laf_notice ln
        SET ln.done          = 1,
            ln.helper_userId = #{userId}
        WHERE ln.id = #{noticeId};
    </update>

    <!--获取4条普通寻物启事信息(包括发布者id,发布者昵称,寻物启事id,相关图片)-->
    <select id="getSimpleLostInfo" resultType="com.laf.entity.entity.laf.lafResp.NoticeIndexResp">
        SELECT ln.id,
               su.id as 'user_id', lp.laf_photoUrl,
               ln.type

        FROM `laf_notice` ln
                 LEFT JOIN laf_photos lp ON ln.id = lp.laf_id
                 LEFT JOIN sys_user su ON ln.`create_id` = su.id
        WHERE ln.done = 1
          AND ln.`status` = 0
          AND ln.type = 0
          AND lp.index_display = 0
        ORDER BY rand() LIMIT 4;
    </select>
    <!--获取4条普通拾物启示信息-->
    <select id="getSimpleFoundList" resultType="com.laf.entity.entity.laf.lafResp.NoticeIndexResp">
        SELECT ln.id,
               su.id as 'user_id', lp.laf_photoUrl,
               ln.type
        FROM `laf_notice` ln
                 LEFT JOIN laf_photos lp ON ln.id = lp.laf_id
                 LEFT JOIN sys_user su ON ln.`create_id` = su.id
        WHERE ln.done = 1
          AND ln.`status` = 0
          AND ln.type = 1
          AND lp.index_display = 0
        ORDER BY rand() LIMIT 4;
    </select>
    <!--    随机获取4条紧急寻物启事信息-->
    <select id="getSimpleUrgencyLostList" resultType="com.laf.entity.entity.laf.lafResp.NoticeIndexResp">
        SELECT ln.id,
               su.id as 'user_id', lp.laf_photoUrl,
               ln.type,
               su.user_name
        FROM `laf_notice` ln
                 LEFT JOIN laf_photos lp ON ln.id = lp.laf_id
                 LEFT JOIN sys_user su ON ln.`create_id` = su.id
        WHERE ln.done = 1
          AND ln.`status` = 0
          AND ln.type = 0
          AND urgency = 0
          AND lp.index_display = 0
        ORDER BY rand() LIMIT 4;
    </select>
    <!--    根据启示关键字搜索对应启示并分类获取-->
    <select id="getNoticeByKeyWords" resultType="com.laf.entity.entity.laf.lafResp.NoticeSearchResp">
        SELECT ln.id,
               su.id as 'user_id', lp.laf_photoUrl,
               ln.type,
               sa.avatar_url,
               su.user_name,
               ln.message,
               ln.view,
               ln.done
        FROM laf_notice ln
                 LEFT JOIN laf_photos lp ON lp.laf_id = ln.id
                 LEFT JOIN sys_user su ON su.id = ln.`create_id`
                 LEFT JOIN sys_avatar sa ON sa.user_id = ln.`create_id`
            AND sa.`status` = 0
        WHERE ln.message LIKE CONCAT('%', #{keyWords}, '%')
          AND lp.index_display = 0
    </select>
    <!--    分页获取所有寻物启事列表-->
    <select id="getAllLostNotice" resultType="com.laf.entity.entity.laf.lafResp.NoticeSearchResp">
        SELECT ln.id,
               su.id AS 'user_id', lp.laf_photoUrl,
               ln.type,
               sa.avatar_url,
               su.user_name,
               ln.message,
               ln.done
        FROM laf_notice ln
                 LEFT JOIN laf_photos lp ON lp.laf_id = ln.id
                 LEFT JOIN sys_user su ON su.id = ln.`create_id`
                 LEFT JOIN sys_avatar sa ON sa.user_id = ln.`create_id`
            AND sa.`status` = 0

        WHERE ln.type = 0
          AND lp.index_display = 0
    </select>
    <!--    根据启示id 获取启示详情(包括用户基本信息，启示基本信息)-->
    <select id="getNoticeDetail" resultType="com.laf.entity.entity.laf.lafResp.NoticeSearchResp">
        SELECT ln.id,
               su.id AS 'user_id', lp.laf_photoUrl,
               ln.type,
               sa.avatar_url,
               su.user_name,
               ln.message,
               ln.view,
               ln.done
        FROM laf_notice ln
                 LEFT JOIN laf_photos lp ON lp.laf_id = ln.id
                 LEFT JOIN sys_user su ON su.id = ln.`create_id`
                 LEFT JOIN sys_avatar sa ON sa.user_id = ln.`create_id`
            AND sa.`status` = 0
        WHERE ln.id = #{noticeId} LIMIT 1;
    </select>
    <!--    获取该启示所有图片-->
    <select id="getAllNoticePhoto" resultType="java.lang.String">
        SELECT lp.laf_photoUrl
        FROM laf_notice ln
                 LEFT JOIN laf_photos lp ON lp.laf_id = ln.id
        WHERE ln.id = #{noticeId}
          And lp.`status` = 0;
    </select>
    <!--    根据用户id 获取该用户帮助的启示-->
    <select id="getUserHelpedNoticeByUserId" resultType="com.laf.entity.entity.laf.lafResp.NoticeSearchResp">
        SELECT ln.id,
               su.id AS 'user_id', lp.laf_photoUrl,
               ln.type,
               sa.avatar_url,
               su.user_name,
               ln.message,
               ln.view,
               ln.done
        FROM laf_notice ln
                 LEFT JOIN laf_photos lp ON lp.laf_id = ln.id
                 LEFT JOIN sys_user su ON su.id = ln.`create_id`
                 LEFT JOIN sys_avatar sa ON sa.user_id = ln.`create_id`
            AND sa.`status` = 0
        WHERE ln.helper_userId = #{userId}
          And ln.done = 0;
    </select>
    <!--    首页分页获取最近发布启示-->
    <select id="getRecentNotice" resultType="com.laf.entity.entity.laf.lafResp.NoticeSearchResp">
        SELECT ln.id,
               su.id AS 'user_id', lp.laf_photoUrl,
               ln.type,
               sa.avatar_url,
               su.user_name,
               ln.message,
               ln.view,
               ln.done
        FROM laf_notice ln
                 LEFT JOIN laf_photos lp ON lp.laf_id = ln.id
                 LEFT JOIN sys_user su ON su.id = ln.`create_id`
                 LEFT JOIN sys_avatar sa ON sa.user_id = ln.`create_id`
            AND sa.`status` = 0
    </select>
    <!--    获取该启示最多四张图片-->
    <select id="getAllNoticePhotoLimit4" resultType="java.lang.String">
        SELECT lp.laf_photoUrl
        FROM laf_notice ln
                 LEFT JOIN laf_photos lp ON lp.laf_id = ln.id
        WHERE ln.id = #{noticeId} LIMIT 4;
    </select>
    <!--    分页获取所有拾物启事列表-->
    <select id="getAllFoundNotice" resultType="com.laf.entity.entity.laf.lafResp.NoticeSearchResp">
        SELECT ln.id,
               su.id AS 'user_id', lp.laf_photoUrl,
               ln.type,
               sa.avatar_url,
               su.user_name,
               ln.message,
               ln.view,
               ln.done
        FROM laf_notice ln
                 LEFT JOIN laf_photos lp ON lp.laf_id = ln.id
                 LEFT JOIN sys_user su ON su.id = ln.`create_id`
                 LEFT JOIN sys_avatar sa ON sa.user_id = ln.`create_id`
            AND sa.`status` = 0

        WHERE ln.type = 1
          AND lp.index_display = 0

    </select>
    <!--    根据启示id获取创建者id-->
    <select id="getNoticeCreatedUserId" resultType="java.lang.Long">
        SELECT ln.`create_id`
        FROM laf_notice ln
        WHERE ln.id = #{noticeId};
    </select>
    <!--    根据用户id查询用户发布的启示个数（包括寻物和拾物）-->
    <select id="countUserPostNotice" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `laf_notice`
        WHERE create_id = #{userId};
    </select>
    <!--    根据用户id查询用户帮助的启示的个数-->
    <select id="countUserHelpedNotice" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `laf_notice`
        WHERE helper_userId = #{userId};
    </select>
    <!--    根据用户id 查询用户有图片启示个数-->
    <select id="countUserHaveImgNotice" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `laf_notice` ln
                 LEFT JOIN laf_photos lp ON ln.id = lp.laf_id
        WHERE ln.create_id = #{userId}
          AND lp.index_display = 0;
    </select>
    <!--    查询用户总启示个数-->
    <select id="countUserTotalNoticeNum" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `laf_notice` ln
        WHERE ln.create_id = 1540533503228669954;
    </select>
    <!--    查询对应启示是否有图片并且该启示是未完成状态-->
    <select id="countNoticeImg" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `laf_notice` ln
                 LEFT JOIN laf_photos lp ON ln.id = lp.laf_id
        WHERE ln.id = #{noticeId}
          AND ln.id = lp.laf_id;
    </select>
    <!--    获取用户发布启示列表-->
    <select id="countUserPostNoticeList" resultType="java.lang.Long">
        SELECT ln.id
        FROM `laf_notice` ln
        WHERE ln.create_id = #{userId};
    </select>


</mapper>