<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laf.dao.mapper.UserMapper">
    <!--    根据用户id更新密码-->
    <update id="updateUserPassword">
        UPDATE sys_user su
        SET su.PASSWORD = #{newPassword}
        WHERE su.id = #{userId};
    </update>

    <!--    根据用户id更新用户详情-->
    <update id="updateUserInfoById">
        UPDATE sys_user su
        SET su.user_name    = #{userName},
            su.phone_number = #{phoneNumber}
        WHERE su.id = #{userId};
    </update>

    <!--    根据用户名查找用户id （用户注册时查找新增用户id用）-->
    <select id="selectUserIdByUserName" resultType="java.lang.Long">
        SELECT su.id
        FROM sys_user su
        WHERE su.user_name = #{userName};
    </select>
    <!--    根据用户id获取用户登录status-->
    <select id="getUserStatus" resultType="java.lang.String">
        SELECT su.`status`
        FROM `sys_user` su
        WHERE su.id = #{id};
    </select>
    <!--    根据id获取用户oldPassword-->
    <select id="getUserOldPass" resultType="java.lang.String">
        SELECT su.`password`
        FROM `sys_user` su
        WHERE su.id = #{userId};
    </select>
    <!--    根据用户id获取用户详情-->
    <select id="getUserInfoByToken" resultType="com.laf.entity.entity.tokenResp.UserResp">
        SELECT *
        FROM `sys_user` su
                 LEFT JOIN sys_avatar sa ON su.id = sa.user_id AND sa.`status` = 0
        WHERE su.id = #{id};
    </select>
    <!--    根据用户id获取用户更加详细信息包括包括用户帮助次数，用户个人背景图片等-->
    <select id="getUserDetailInfo" resultType="com.laf.entity.entity.tokenResp.UserDetailInfoResp">
        SELECT DISTINCT su.user_name,
                        su.id,
                        sa.avatar_url,
                        sp.photo_url,
                        sr.help_times
        FROM `sys_user` su
                 LEFT JOIN sys_photos sp ON su.id = sp.user_id
            AND sp.`status` = 0
                 LEFT JOIN sys_rank sr ON su.id = sr.user_id
                 LEFT JOIN sys_avatar sa ON su.id = sa.user_id
            AND sa.`status` = 0
        WHERE su.id = #{id};
    </select>
    <!--    根据用户id 获取用户昵称，头像-->
    <select id="getUserNameAndAvatarByUserId" resultType="com.laf.entity.entity.resp.userResp">
        SELECT su.id,
               su.user_name,
               sa.avatar_url
        FROM sys_user su
                 LEFT JOIN sys_avatar sa ON su.id = sa.user_id
        WHERE su.id = #{userId}
          AND sa.`status` = 0;
    </select>
</mapper>